@import "../variables";

.button {
	display: inline-block;
	background-color: $gray;
	border-radius: 30px;
	padding: 10px 20px;
	min-width: 100px;
	text-align: center;
	cursor: pointer;
	transition: background-color $duration ease-in-out, border-color $duration ease-in-out;
	border: 1px solid transparent;
	@include noselect();
	&:hover {
		background-color: darken($gray, 8%);
	}
}
